@keyframes OpactiyFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    } 
}

@keyframes OpactiyFadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    } 
}


@keyframes small { 
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.2);
    }
    
}


@keyframes big { 
    from {
        transform: scale(0.2);
    }
    to {
        transform: scale(1);
    } 
}

@keyframes reduceWidth {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@keyframes increaseWidth {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}